<!--   -->
<!DOCTYPE html>

<ul>
    <li> <a href="{% url 'map' name_of_the_boat='Najad' %}" target="_blank">Najad </a> </li>
    <li> <a href="{% url 'map' name_of_the_boat='Bavaria' %}" target="_blank">Bavaria </a> </li>
    <li> <a href="{% url 'map' name_of_the_boat='Bavaria' %}" target="_blank">Dufour </a> </li>
    <li> <a href="{% url 'map' name_of_the_boat='Sweden Yachts' %}" target="_blank">Sweden Yachts</a> </li>
    <li> <a href="{% url 'map' name_of_the_boat='Maxi' %}" target="_blank">Maxi</a> </li>

</ul>
